version: '3.8'
services:
  gateway:
    build: ./gateway
    image: gateway-image
    container_name: gateway-container
    ports:
      - "8080:8080"
    environment:
      - SHAREIT_SERVER_URL=http://server:9090

  server:
    build: ./server
    image: server-image
    container_name: server-container
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shareit
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=iamroot
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_DRIVER_CLASS_NAME=org.postgresql.Driver

  db:
    image: postgres:14-alpine
    container_name: postgres-container
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=iamroot